// MISC
$primary-color: #1d1d1d;

// TEXT RELATED //
$primary-text: rgb(202, 202, 202);

// BODY RELATED //
$body-width: 100%;
$body-height: 100%;

$mobile: 360px;
$tablet: 768px;
$desktop: 1200;

$font-family-primary: monospace, Arial, Helvetica;
